# **03. Exploratory  Data Analysis**
*This notebook will contain the exploratory data analysis (EDA), including visualizing data distributions, relationships between variables, and identifying patterns.*

## Objectives

- Perform exploratory data analysis (EDA) on the bulldozer price dataset to understand the data distribution, identify patterns, and detect any anomalies or missing values.

## Inputs

- The bulldozer price dataset (CSV file) containing historical auction prices and related features.

## Outputs

- Visualizations such as histograms, scatter plots, and box plots to illustrate data distributions and relationships.
- Summary statistics and insights derived from the EDA process.
 

## Additional Comments

- Ensure that all necessary libraries (e.g., pandas, matplotlib, seaborn) are installed before running the notebook.
- Document any assumptions or decisions made during the EDA process for future reference.
- This notebook is a crucial step in our machine learning pipeline, exploratory data analysis (EDA) with traditional data analysis and machine learning techniques.
##### **Traditional Data Analysis Techniques**
1. **Data Cleaning:**
    - Handling missing values (e.g., filling with mean/median, dropping rows/columns).
    - Removing duplicates.
    - Correcting data types.
2. **Exploratory Data Analysis (EDA):**
    - Descriptive Statistics: Calculating mean, median, mode, standard deviation, etc.
    - Data Visualization: Using plots such as histograms, scatter plots, box plots, and correlation matrices to understand data distributions and relationships.
    - Feature Engineering: Creating new features from existing ones to improve model performance.
3. **Data Transformation:**
    - Normalization or standardization of features.
    - Encoding categorical variables (e.g., one-hot encoding).

##### **Machine Learning Techniques**
1. **Data Splitting:**
    - Dividing the dataset into training and testing sets to evaluate model performance.
2. **Model Selection:**
    - Choosing appropriate machine learning algorithms (e.g., linear regression, decision trees, random forests, etc.).
3. **Model Training:**
    - Fitting the chosen model to the training data.
4.  **Model Evaluation:**
    - Using metrics such as accuracy, precision, recall, F1-score, and ROC-AUC to assess model performance on the test set.
5.  **Hyperparameter Tuning:**
    - Optimizing model parameters using techniques like grid search or random search.
6.  **Model Interpretation:**
    - Analyzing feature importance or coefficients to understand the model's decision-making process.

---

# Execution Timestamp

Purpose: This code block adds a timestamp to track notebook execution
- Helps monitor when analysis was last performed
- Ensures reproducibility of results
- Useful for debugging and version control

In [2]:
# Timestamp
import datetime

import datetime
print(f"Notebook last run (end-to-end): {datetime.datetime.now()}")

Notebook last run (end-to-end): 2025-02-15 22:22:57.255898

# Project Directory Structure and Working Directory

**Purpose: This code block establishes and explains the project organization**
- Creates a standardized project structure for data science workflows
- Documents the purpose of each directory for team collaboration
- Gets current working directory for file path management

## Key Components:
1. `data/ directory` stores all datasets (raw, processed, interim)
2. `src/` contains all source code (data preparation, models, utilities)
3. `notebooks/` holds Jupyter notebooks for experimentation
4. `results/` stores output files and visualizations

## Project Root Structure

- **`data/`** - Where all your datasets live
    - `raw/` - Original, untouched data
    - `processed/` - Cleaned and prepared data
    - `interim/` - Temporary data files
- **`src/`** - Your source code
    - `data_prep/` - Code for preparing data
    - `models/` - Your ML models
    - `utils/` - Helper functions
- **`notebooks/`** - Jupyter notebooks for experiments
- **`results/`** - Model outputs and visualizations

## Setting Up Working Directory
This code block sets up the working environment by:
- Changing to the project directory where our code and data files are located
- Verifying the current working directory to ensure we're in the right place

In [3]:
import os

# Move to the desired directory
os.chdir('c:\\Users\\blign\\Dropbox\\1 PROJECT\\VS Code Project Respository\\About-BulldozerPriceGenius-_BPG-_v2')

# Get the current directory to verify the change
current_dir = os.getcwd()
current_dir

'c:\\Users\\blign\\Dropbox\\1 PROJECT\\VS Code Project Respository\\About-BulldozerPriceGenius-_BPG-_v2'

## Set Working Directory to Project Root
**Purpose: Changes the current working directory to the parent directory**
- Gets the folder one level above the current one
- Makes sure all file locations work correctly throughout the project
- Keeps files and folders organized in a clean way

In [4]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

## Get Current Working Directory
**Purpose: Retrieves and stores the current working directory path**
- Gets the folder location where we're currently working
- Saves this location in a variable called current_dir so we can use it later
- Helps us find and work with files in the right place

In [ ]:
import os

# Change the current working directory
os.chdir('c:\\Users\\blign\\Dropbox\\1 PROJECT\\VS Code Project Respository')

# Get the current working directory
current_dir = os.getcwd()
current_dir

# **Import Essential Data Science Libraries and Check Versions**

**Purpose: This code block imports fundamental Python libraries for data analysis and visualization**
- `pandas:` For data manipulation and analysis
- `numpy:` For numerical computations
- `matplotlib:` For creating visualizations and plots

**The version checks help ensure:**
- *Code compatibility across different environments*
- *Reproducibility of analysis*
- *Easy debugging of version-specific issues*

In [5]:
# Import data analysis tools
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt


print(f"pandas version: {pd.__version__}")
print(f"NumPy version: {np.__version__}")
print(f"matplotlib version: {matplotlib.__version__}")

pandas version: 2.2.3
NumPy version: 2.2.2
matplotlib version: 3.10.0

# **Model Driven Data Exploration**
## Early Modeling Approach

After preparing our data, we'll take a unique approach by starting with modeling early in our analysis. Here's why this makes sense:

- We already know our target metric (RMSLE)
- Using a model can help us understand our data better while working towards our goal
- This approach helps us get faster results

Based on our dataset size (over 100,000 examples), we'll use either a SGD Regressor or Random Forest model. We'll start with Random Forest since we're familiar with it

## Initial Random Forest Model Attempt

This code demonstrates an initial attempt to train a [Random Forest model](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html) on our dataset. However, it will fail due to two key data quality issues:

- Missing numerical values that need to be handled
- Categorical variables that need to be encoded

In [6]:
# This won't work since we've got missing numbers and categories
# from sklearn.ensemble import RandomForestRegressor

# model = RandomForestRegressor(n_jobs=-1)
# model.fit(X=df_tmp.drop("SalePrice", axis=1), # use all columns except SalePrice as X input
#          y=df_tmp.SalePrice) # use SalePrice column as y input

## Loading and Initial Data Inspection

This code snippet performs two essential data preparation tasks:

- Loads a CSV file that contains bulldozer prices
- Performs initial data inspection by checking:
    - File existence verification
    - Basic dataset information including missing values and data types

In [7]:
import os
import pandas as pd

# Define the file path
file_path = "C:/Users/blign/Dropbox/1 PROJECT/VS Code Project Respository/About-BulldozerPriceGenius-_BPG-_v2/data/processed/TrainAndValid_processed.csv"

# Check if the file exists
if os.path.exists(file_path):
    print(f"The file '{file_path}' exists.")
    # Load the CSV file into a DataFrame
    df_tmp = pd.read_csv(file_path)
    # Check for missing values and different datatypes
    df_tmp.info()
else:
    print(f"The file '{file_path}' does not exist.")

The file 'C:/Users/blign/Dropbox/1 PROJECT/VS Code Project Respository/About-BulldozerPriceGenius-_BPG-_v2/data/processed/TrainAndValid_processed.csv' exists.

C:\Users\blign\AppData\Local\Temp\ipykernel_22188\195247768.py:11: DtypeWarning: Columns (12,38,39,40) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmp = pd.read_csv(file_path)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412698 entries, 0 to 412697
Data columns (total 57 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   412698 non-null  int64
 1   SalePrice                 412698 non-null  float64
 2   MachineID                 412698 non-null  int64
 3   ModelID                   412698 non-null  int64
 4   datasource                412698 non-null  int64
 5   auctioneerID              392562 non-null  float64
 6   YearMade                  412698 non-null  int64
 7   MachineHoursCurrentMeter  147504 non-null  float64
 8   UsageBand                 73670 non-null   object
 9   fiModelDesc               412698 non-null  object
 10  fiBaseModel               412698 non-null  object
 11  fiSecondaryDesc           271971 non-null  object
 12  fiModelSeries             58667 non-null   object
 13  fiModelDescriptor         74816 non-null   object
 14  ProductSize               196093 non-null  object
 15  fiProductClassDesc        412698 non-null  object
 16  state                     412698 non-null  object
 17  ProductGroup              412698 non-null  object
 18  ProductGroupDesc          412698 non-null  object
 19  Drive_System              107087 non-null  object
 20  Enclosure                 412364 non-null  object
 21  Forks                     197715 non-null  object
 22  Pad_Type                  81096 non-null   object
 23  Ride_Control              152728 non-null  object
 24  Stick                     81096 non-null   object
 25  Transmission              188007 non-null  object
 26  Turbocharged              81096 non-null   object
 27  Blade_Extension           25983 non-null   object
 28  Blade_Width               25983 non-null   object
 29  Enclosure_Type            25983 non-null   object
 30  Engine_Horsepower         25983 non-null   object
 31  Hydraulics                330133 non-null  object
 32  Pushblock                 25983 non-null   object
 33  Ripper                    106945 non-null  object
 34  Scarifier                 25994 non-null   object
 35  Tip_Control               25983 non-null   object
 36  Tire_Size                 97638 non-null   object
 37  Coupler                   220679 non-null  object
 38  Coupler_System            44974 non-null   object
 39  Grouser_Tracks            44875 non-null   object
 40  Hydraulics_Flow           44875 non-null   object
 41  Track_Type                102193 non-null  object
 42  Undercarriage_Pad_Width   102916 non-null  object
 43  Stick_Length              102261 non-null  object
 44  Thumb                     102332 non-null  object
 45  Pattern_Changer           102261 non-null  object
 46  Grouser_Type              102193 non-null  object
 47  Backhoe_Mounting          80712 non-null   object
 48  Blade_Type                81875 non-null   object
 49  Travel_Controls           81877 non-null   object
 50  Differential_Type         71564 non-null   object
 51  Steering_Controls         71522 non-null   object
 52  saleYear                  412698 non-null  int64
 53  saleMonth                 412698 non-null  int64
 54  saleDay                   412698 non-null  int64
 55  saleDayofweek             412698 non-null  int64
 56  saleDayofyear             412698 non-null  int64
dtypes: float64(3), int64(10), object(44)
memory usage: 179.5+ MB

## Check Missing Values in Sample Data

This code examines the data for missing values:

- Uses `.head()` to display first few rows of data
- Applies `.isna()` to identify missing values
- Provides quick initial assessment of data gaps
- Helps spot potential issues before full analysis

In [8]:
# Find missing values in the head of our DataFrame 
df_tmp.head().isna()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,...,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,saleYear,saleMonth,saleDay,saleDayofweek,saleDayofyear
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,False,False,False,False,False

## Missing Values Analysis
This code analyzes missing data by:

- Identifying empty or missing values throughout the dataset
- Helping assess data quality
- Providing insights for handling data gaps

In [9]:
# Check for total missing values per column
df_tmp.isna().sum()

SalesID                          0
SalePrice                        0
MachineID                        0
ModelID                          0
datasource                       0
auctioneerID                 20136
YearMade                         0
MachineHoursCurrentMeter    265194
UsageBand                   339028
fiModelDesc                      0
fiBaseModel                      0
fiSecondaryDesc             140727
fiModelSeries               354031
fiModelDescriptor           337882
ProductSize                 216605
fiProductClassDesc               0
state                            0
ProductGroup                     0
ProductGroupDesc                 0
Drive_System                305611
Enclosure                      334
Forks                       214983
Pad_Type                    331602
Ride_Control                259970
Stick                       331602
Transmission                224691
Turbocharged                331602
Blade_Extension             386715
Blade_Width                 386715
Enclosure_Type              386715
Engine_Horsepower           386715
Hydraulics                   82565
Pushblock                   386715
Ripper                      305753
Scarifier                   386704
Tip_Control                 386715
Tire_Size                   315060
Coupler                     192019
Coupler_System              367724
Grouser_Tracks              367823
Hydraulics_Flow             367823
Track_Type                  310505
Undercarriage_Pad_Width     309782
Stick_Length                310437
Thumb                       310366
Pattern_Changer             310437
Grouser_Type                310505
Backhoe_Mounting            331986
Blade_Type                  330823
Travel_Controls             330821
Differential_Type           341134
Steering_Controls           341176
saleYear                         0
saleMonth                        0
saleDay                          0
saleDayofweek                    0
saleDayofyear                    0
dtype: int64

## Check Data Type of UsageBand Column

This code looks at what kind of data is in the `'UsageBand'` column. This is important to know because:

- It shows us what type of information is in this column and how it's organized
- It helps us know what kind of math and changes we can do with the data in this column
- It helps us decide how to clean and organize the data for our analysis

In [10]:
# Get the dtype of a given column
df_tmp["UsageBand"].dtype, df_tmp["UsageBand"].dtype.name

(dtype('O'), 'object')

## Check Column Data Type

This code checks if a specific column contains string (text) data. This is important because:

- It helps verify data types before processing
- It ensures we handle string data appropriately in our analysis
- It helps prevent errors when applying operations that require specific data type

In [11]:
# Check whether a column is a string
pd.api.types.is_string_dtype(df_tmp["state"])

True

## Dictionary Iteration Test

This code shows how to work with a dictionary's content by going through each of its parts:

- How to access both keys and values simultaneously
- Proper syntax for dictionary iteration in Python
- String formatting using f-strings to display results

In [12]:
# Quick exampke of calling .items() on a dictionary
random_dict = {"key1": "All",
               "key2": "Good!"}

for key, value in random_dict.items():
    print(f"This is a key: {key}")
    print(f"This is a value: {value}")
    print()

This is a key: key1
This is a value: All

This is a key: key2
This is a value: Good!

## String Column Analysis

This code performs a detailed analysis of string-type columns in our DataFrame:

- Iterates through each column to identify string data types
- For each string column, it provides:
    - Column name and its data type
    - A random sample value from the column
    - The inferred data type of the sample value

This step helps us look at our text data more closely so we can get it ready for analysis.

In [13]:
# Print column names and example content of columns which contain strings
for label, content in df_tmp.items():
    if pd.api.types.is_string_dtype(content):
        # Check datatype of target column
        column_datatype = df_tmp[label].dtype.name

        # Get random sample from column values
        example_value = content.sample(1).values

        # Infer random sample datatype
        example_value_dtype = pd.api.types.infer_dtype(example_value)
        print(f"Column name: {label} | Column dtype: {column_datatype} | Example value: {example_value} | Example value dtype: {example_value_dtype}")

Column name: fiModelDesc | Column dtype: object | Example value: ['D5G'] | Example value dtype: string
Column name: fiBaseModel | Column dtype: object | Example value: ['D5'] | Example value dtype: string
Column name: fiProductClassDesc | Column dtype: object | Example value: ['Backhoe Loader - 14.0 to 15.0 Ft Standard Digging Depth'] | Example value dtype: string
Column name: state | Column dtype: object | Example value: ['Texas'] | Example value dtype: string
Column name: ProductGroup | Column dtype: object | Example value: ['MG'] | Example value dtype: string
Column name: ProductGroupDesc | Column dtype: object | Example value: ['Wheel Loader'] | Example value dtype: string

## Object Column Analysis

This code performs a comprehensive analysis of columns with object data types in our DataFrame:

- Counts and identifies all columns with object data type
- For each object column, it displays:
    - Column name and its data type
    - A random sample value
    - What kind of data we found in the sample?

This step helps us identify which columns in our data need to be cleaned or adjusted before we can use them in our machine learning model.

In [14]:
# Start a count of how many object type columns there are
number_of_object_type_columns = 0

for label, content in df_tmp.items():
    # Check to see if column is of object type (this will include the string columns)
    if pd.api.types.is_object_dtype(content): 
        # Check datatype of target column
        column_datatype = df_tmp[label].dtype.name

        # Get random sample from column values
        example_value = content.sample(1).values

        # Infer random sample datatype
        example_value_dtype = pd.api.types.infer_dtype(example_value)
        print(f"Column name: {label} | Column dtype: {column_datatype} | Example value: {example_value} | Example value dtype: {example_value_dtype}")

        number_of_object_type_columns += 1

print(f"\n[INFO] Total number of object type columns: {number_of_object_type_columns}")

Column name: UsageBand | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: fiModelDesc | Column dtype: object | Example value: ['7231'] | Example value dtype: string
Column name: fiBaseModel | Column dtype: object | Example value: ['248'] | Example value dtype: string
Column name: fiSecondaryDesc | Column dtype: object | Example value: ['D'] | Example value dtype: string
Column name: fiModelSeries | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: fiModelDescriptor | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: ProductSize | Column dtype: object | Example value: ['Large / Medium'] | Example value dtype: string
Column name: fiProductClassDesc | Column dtype: object | Example value: ['Motorgrader - 145.0 to 170.0 Horsepower'] | Example value dtype: string
Column name: state | Column dtype: object | Example value: ['North Carolina'] | Example value dtype: string
Column name: ProductGroup | Column dtype: object | Example value: ['TTT'] | Example value dtype: string
Column name: ProductGroupDesc | Column dtype: object | Example value: ['Wheel Loader'] | Example value dtype: string
Column name: Drive_System | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: Enclosure | Column dtype: object | Example value: ['EROPS w AC'] | Example value dtype: string
Column name: Forks | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: Pad_Type | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: Ride_Control | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: Stick | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: Transmission | Column dtype: object | Example value: ['Standard'] | Example value dtype: string
Column name: Turbocharged | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: Blade_Extension | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: Blade_Width | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: Enclosure_Type | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: Engine_Horsepower | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: Hydraulics | Column dtype: object | Example value: ['Standard'] | Example value dtype: string
Column name: Pushblock | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: Ripper | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: Scarifier | Column dtype: object | Example value: ['None or Unspecified'] | Example value dtype: string
Column name: Tip_Control | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: Tire_Size | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: Coupler | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: Coupler_System | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: Grouser_Tracks | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: Hydraulics_Flow | Column dtype: object | Example value: ['Standard'] | Example value dtype: string
Column name: Track_Type | Column dtype: object | Example value: ['Steel'] | Example value dtype: string
Column name: Undercarriage_Pad_Width | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: Stick_Length | Column dtype: object | Example value: ['None or Unspecified'] | Example value dtype: string
Column name: Thumb | Column dtype: object | Example value: ['None or Unspecified'] | Example value dtype: string
Column name: Pattern_Changer | Column dtype: object | Example value: ['None or Unspecified'] | Example value dtype: string
Column name: Grouser_Type | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: Backhoe_Mounting | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: Blade_Type | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: Travel_Controls | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: Differential_Type | Column dtype: object | Example value: [nan] | Example value dtype: empty
Column name: Steering_Controls | Column dtype: object | Example value: [nan] | Example value dtype: empty

[INFO] Total number of object type columns: 44

# **Converting String Data to Numbers in Pandas**

Turning text data into numbers that our machine learning models can understand.

### What is Categorical Data?

Sometimes we have text data (like state names) that we need to convert into numbers. Pandas helps us do this using something called `"categories"`.

### How It Works

Think of it like giving each unique text value a number code. For example, if we have states:

- Alabama becomes 1
- Alaska becomes 2
- Arizona becomes 3

The best part? The original text values stay the same in our data, but we can easily use their number codes when needed.

### Getting Started

To use this feature, we'll convert our text columns to `"category"` type using a simple pandas command.

In [15]:
# This will turn all of the object columns into category values
for label, content in df_tmp.items(): 
    if pd.api.types.is_object_dtype(content):
        df_tmp[label] = df_tmp[label].astype("category")

## DataFrame Information Display

This code shows basic information about our data using the .info() method. This helps us understand:

- Shows the total number of entries in the dataset
- Lists all columns and their data types
- Displays memory usage information
- Indicates how many non-null values exist in each column

In [16]:
df_tmp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412698 entries, 0 to 412697
Data columns (total 57 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   412698 non-null  int64
 1   SalePrice                 412698 non-null  float64
 2   MachineID                 412698 non-null  int64
 3   ModelID                   412698 non-null  int64
 4   datasource                412698 non-null  int64
 5   auctioneerID              392562 non-null  float64
 6   YearMade                  412698 non-null  int64
 7   MachineHoursCurrentMeter  147504 non-null  float64
 8   UsageBand                 73670 non-null   category
 9   fiModelDesc               412698 non-null  category
 10  fiBaseModel               412698 non-null  category
 11  fiSecondaryDesc           271971 non-null  category
 12  fiModelSeries             58667 non-null   category
 13  fiModelDescriptor         74816 non-null   category
 14  ProductSize               196093 non-null  category
 15  fiProductClassDesc        412698 non-null  category
 16  state                     412698 non-null  category
 17  ProductGroup              412698 non-null  category
 18  ProductGroupDesc          412698 non-null  category
 19  Drive_System              107087 non-null  category
 20  Enclosure                 412364 non-null  category
 21  Forks                     197715 non-null  category
 22  Pad_Type                  81096 non-null   category
 23  Ride_Control              152728 non-null  category
 24  Stick                     81096 non-null   category
 25  Transmission              188007 non-null  category
 26  Turbocharged              81096 non-null   category
 27  Blade_Extension           25983 non-null   category
 28  Blade_Width               25983 non-null   category
 29  Enclosure_Type            25983 non-null   category
 30  Engine_Horsepower         25983 non-null   category
 31  Hydraulics                330133 non-null  category
 32  Pushblock                 25983 non-null   category
 33  Ripper                    106945 non-null  category
 34  Scarifier                 25994 non-null   category
 35  Tip_Control               25983 non-null   category
 36  Tire_Size                 97638 non-null   category
 37  Coupler                   220679 non-null  category
 38  Coupler_System            44974 non-null   category
 39  Grouser_Tracks            44875 non-null   category
 40  Hydraulics_Flow           44875 non-null   category
 41  Track_Type                102193 non-null  category
 42  Undercarriage_Pad_Width   102916 non-null  category
 43  Stick_Length              102261 non-null  category
 44  Thumb                     102332 non-null  category
 45  Pattern_Changer           102261 non-null  category
 46  Grouser_Type              102193 non-null  category
 47  Backhoe_Mounting          80712 non-null   category
 48  Blade_Type                81875 non-null   category
 49  Travel_Controls           81877 non-null   category
 50  Differential_Type         71564 non-null   category
 51  Steering_Controls         71522 non-null   category
 52  saleYear                  412698 non-null  int64
 53  saleMonth                 412698 non-null  int64
 54  saleDay                   412698 non-null  int64
 55  saleDayofweek             412698 non-null  int64
 56  saleDayofyear             412698 non-null  int64
dtypes: category(44), float64(3), int64(10)
memory usage: 60.5 MB

## Check Column Data Type

This code shows us how to look up what kind of data is stored in a specific part (`'state'`) of our data table. It's important to know this because:

- It helps verify data compatibility before operations
- It ensures proper data handling in analysis
- It helps prevent type-related errors in our code

In [17]:
# Check the datatype of a single column
df_tmp.state.dtype

CategoricalDtype(categories=['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
                  'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia',
                  'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
                  'Kentucky', 'Louisiana', 'Maine', 'Maryland',
                  'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
                  'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
                  'New Jersey', 'New Mexico', 'New York', 'North Carolina',
                  'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
                  'Puerto Rico', 'Rhode Island', 'South Carolina',
                  'South Dakota', 'Tennessee', 'Texas', 'Unspecified', 'Utah',
                  'Vermont', 'Virginia', 'Washington', 'Washington DC',
                  'West Virginia', 'Wisconsin', 'Wyoming'],
, ordered=False, categories_dtype=object)

## Get Category Names

This code shows us all the different values that exist in our data column. This helps us:

- Viewing all possible values in a categorical variable
- Verifying the category encoding worked correctly
- Understanding the range of values in our categorical data

In [18]:
# Get the category names of a given column
df_tmp.state.cat.categories

Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Unspecified', 'Utah', 'Vermont',
       'Virginia', 'Washington', 'Washington DC', 'West Virginia', 'Wisconsin',
       'Wyoming'],
      dtype='object')

## View Category Codes

This code shows how the computer converts text categories (like state names) into numbers. This helps us:

- Understanding how categorical data is encoded internally
- Checking if the numbers match up correctly with their text labels
- Debugging category-related operations in the data preprocessing pipeline

In [19]:
# Inspect the category codes
df_tmp.state.cat.codes

0          0
1         32
2         31
3         43
4         31
          ..
412693    43
412694     8
412695     8
412696    43
412697     8
Length: 412698, dtype: int8

# Get State Name from Category Number

This code shows how to look up a state's name when we have its number code. This is helpful when:

- Converting encoded numerical values back to their original text labels
- Verifying the category encoding system is working correctly
- Debugging and data validation when working with categorical variables

In [22]:
# Get example string using category number
target_state_cat_number = 39
target_state_cat_value = df_tmp.state.cat.categories[target_state_cat_number] 
print(f"[INFO] Target state category number {target_state_cat_number} maps to: {target_state_cat_value}")

[INFO] Target state category number 39 maps to: Rhode Island

# Save Preprocessed Data to CSV - Checkpoint 1

This code takes our processed data and saves it as a CSV file.

- Attempts to save the DataFrame (df_tmp) to a specified file path
- Uses error handling (try/except) to catch and report any potential issues during saving
- Prints a success message when the file is saved correctly

In [27]:
import pandas as pd

# Assuming df_tmp is your preprocessed DataFrame
try:
    df_tmp.to_csv("C:/Users/blign/Dropbox/1 PROJECT/VS Code Project Respository/About-BulldozerPriceGenius-_BPG-_v2/data/processed/TrainAndValid_object_values_as_categories.csv",
                  index=False)
    print("SUCCESSFULLY SAVED! The data file 'TrainAndValid_object_values_as_categories.csv' has been successfully saved in data/processed.")
except Exception as e:
    print(f"An error occurred while saving the preprocessed data: {e}")

SUCCESSFULLY SAVED! The data file 'TrainAndValid_object_values_as_categories.csv' has been successfully saved in data/processed.

# **Conclusions and Next Steps**

## Conclusions

* The exploratory data analysis (EDA) provided valuable insights into the dataset, including the distribution of key variables, identification of missing values, and potential correlations between features.
* Key findings include:
  * The target variable (e.g., bulldozer prices) shows a right-skewed distribution.
  * Certain features have a high percentage of missing values and may require imputation or removal.
  * There are strong correlations between some features, which could be useful for feature engineering.

## Next Steps
- `04_data_preprocessing.ipynb`:Â This notebook will handle converting data types, addressing missing values, and preparing the data for modeling.